<div class="card">
  <div class="card-header">
    LISTA DE VEHICULOS
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]="filtro" (blur)="consultarVehiculos()">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        filtrado por: {{filtro}}
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
        <a [routerLink]="['/vehiculo']" class="btn btn-info ">Nuevo vehiculo</a>
      </div>
    </div>
    <div class="row table-responsive container-md">
      <div class="container text-center ">
        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-6 d-grid gap-2 d-md-flex justify-content-md-start">
                <div class="row">
                  <div class="col">
                    <select class="form-control" [(ngModel)]="rows" (change)="consultarVehiculos()">>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
              
              </td>
            </tr>
            <tr>
              <th scope="col">
                <button class="btn " [ngClass]="{'btn-primary': !mostrarImagen, 'btn-secondary': mostrarImagen}"
                  (click)="mostrar()" [innerText]="mostrarImagen ?'Ocultar Imagen':  'Mostrar Imagen'"></button>
              </th>
              <!-- <th scope="col">Codigo</th> -->
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Año</th>
              <th scope="col">Color</th>
              <th scope="col">Kilometraje</th>
              <th scope="col">Precio</th>
              <th scope="col">Calificacion</th>
              <th scope="col">OP</th>
            </tr>
          </thead>

          <tbody class="tablecontainer">
            <tr class="listable" *ngFor="let item of listaVehiculos">
              <td scole="row"> <img class="imagen_autos" [src]="item.foto" alt="vehiculo" *ngIf="mostrarImagen"></td>
              <!-- <td>
                <a [routerLink]="['/vehiculos/'+item.codigo]">{{item.codigo}}</a>
              </td> -->
              <td>{{item.marca | uppercase}}</td>
              <td>{{item.modelo | AEspacio:"-" | lowercase}}</td>
              <td [innerText]="item.anio"></td>
              <td>{{item.color}}</td>
              <td>{{item.kilometraje}}</td>
              <td>{{item.precio | currency}}</td>
              <td>
                <app-calificacion [calificacion]="item.calificacion"
                  (accionClick)="recepcion($event)"></app-calificacion>
              </td>
              <td>
                <div class="btn-group me-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-secondary" [routerLink]="['/vehiculos/'+item.codigo]"><i class="bi bi-eye"></i></button>
                  <button type="button" class="btn btn-primary" [routerLink]="['/vehiculo/'+item.codigo]" ><i class="bi bi-pencil-square"></i></button>
                  <button type="button" class="btn btn-dark" (click)="eliminar(item.codigo)"><i class="bi bi-trash"></i></button>
                </div>
              </td>
            </tr>

          </tbody>
          <tfoot aria-label="...">
            <tr>
              <td>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" (click)="atras()">Atrás</a></li>

                    <li class="page-item" *ngFor="let pagina of listaPaginas" [ngClass]="{'active': page == pagina}">
                      <a class="page-link" (click)="cambiarPagina(pagina)">{{pagina}}</a>
                    </li>

                    <li class="page-item"><a class="page-link" (click)="siguiente()">Siguiente</a></li>
                  </ul>
                </nav>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>